.heading-link:focus .heading-link-icon:after,
.heading-link:hover .heading-link-icon:after {
  content: '\00A7';
  font-size: 0.8em;
  opacity: 0.65;
  padding-left: 0.4em;
  vertical-align: middle;
}